<div class="sidemenu">
            <div class="menu_image">
            	<img src="album/1.jpg" alt="horses"/>
            </div>
            <div class="menu" id="menu">
            	<ul>
                	<li>
                    	<a href="#">Home</a>
                    </li>
                	<li>
                    	<a href="#">Nieuws</a>
                    </li>
                    <li>
                    	<a href="#">Hengsten</a>
                    </li>
                    <li>
                    	<a href="#">Merries</a>
                    </li>
                	<li>
                    	<a href="#">Ruinen</a>
                    </li>
                    <li>
                    	<a href="#">Veulens</a>
                    </li>
                    <li>
                    	<a href="#">Te koop</a>
                    </li>
                    <li>
                    	<a href="#">Welsh A</a>
                    </li>
                    <li>
                    	<a href="#">Foto's</a>
                    </li>
                    <li>
                    	<a href="#">Memoriam</a>
                    </li>
                    <li>
                    	<a href="#">Contact</a>
                    </li>
                    <li>
                    	<a href="#">Links</a>
                    </li>
                </ul>
            
            
            </div>
            </div>